%round {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #a0a9b2;
}

.icon-show-more {
  @extend %round;
  position: relative;

  &::after {
    @extend %round;
    position: absolute;
    content: "";
    bottom: -8px;
    left: 0;
  }
  &::before {
    @extend %round;
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
  }
}
